<div>
  <label class="question-title">FLUID MANAGEMENT<em>(Select one)</em></label>

  <input id="fluid_1" type="radio" value="ORS" name="fluidManagement" ng-model="viewModel.fluidManagement" />
  <label for="fluid_1" class="radio-button small long">ORS</label>

  <input id="fluid_2" type="radio" value="jelly" name="fluidManagement" ng-model="viewModel.fluidManagement" />
  <label for="fluid_2" class="radio-button small long">Jelly Water</label>

  <input id="fluid_3" type="radio" value="IVMaintenance" name="fluidManagement" ng-model="viewModel.fluidManagement" />
  <label for="fluid_3" class="radio-button small long">IV Maintenance</label>

  <div class="separator">
    <input id="fluid_4" type="radio" value="IVIOResuscitate" name="fluidManagement" ng-model="viewModel.fluidManagement" />
    <label for="fluid_4" class="radio-button small long">IV/IO Resuscitate</label>

    <input id="fluid_5" type="radio" value="bloodTransfusion" name="fluidManagement" ng-model="viewModel.fluidManagement" />
    <label for="fluid_5" class="radio-button small long">Blood Transfusion</label>

    <input id="fluid_6" type="radio" value="fluidRestrict" name="fluidManagement" ng-model="viewModel.fluidManagement" />
    <label for="fluid_6" class="radio-button small long">Fluid Restrict</label>
  </div>

</div>

<div>
    <label class="question-title" for="temperature">TARGET VOLUME IN NEXT 24H</label>
    <div class="input-container">
      <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" ng-keyup="keyupInput($event)" type="number" name="volume" ng-model="viewModel.volume" min="0" max="9999" />
      <span class="unit">mL</span>
    </div>
</div>
