  <div>
    <label class="question-title" for="fluids">ORAL FLUIDS IN PAST 24H</label>
    <div class="input-container">
        <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" ng-keyup="keyupInput($event)" type="number" value="none" name="oralFluids" ng-model="viewModel.oralFluids" min="0" max="9999" />
        <span class="unit">mL</span>
    </div>
  </div>

  <div>
    <span class="question-title">DEHYDRATION<em>(Select one)</em></span>

    <input id="dehydration_1" type="radio" value="none" name="dehydration" ng-model="viewModel.dehydration" />
    <label for="dehydration_1" class="radio-button medium">None</label>

    <input id="dehydration_2" type="radio" value="mild" name="dehydration" ng-model="viewModel.dehydration" />
    <label for="dehydration_2" class="radio-button medium">Mild</label>

    <input id="dehydration_3" type="radio" value="moderate" name="dehydration" ng-model="viewModel.dehydration" />
    <label for="dehydration_3" class="radio-button medium">Mod</label>

    <input id="dehydration_4" type="radio" value="severe" name="dehydration" ng-model="viewModel.dehydration" />
    <label for="dehydration_4" class="radio-button medium">Sev</label>
  </div>

  <div>
    <span class="question-title">URINE OUTPUT<em>(Select one)</em></span>
    <input id="urine_2" type="radio" value="none" name="urineOutput" ng-model="viewModel.urineOutput" />
    <label for="urine_2" class="radio-button medium">None</label>

    <input id="urine_1" type="radio" value="normal" name="urineOutput" ng-model="viewModel.urineOutput" />
    <label for="urine_1" class="radio-button medium">Normal</label>

    <input id="urine_3" type="radio" value="reduced" name="urineOutput" ng-model="viewModel.urineOutput" />
    <label for="urine_3" class="radio-button medium">Reduced</label>

    <input id="urine_4" type="radio" value="unknown" name="urineOutput" ng-model="viewModel.urineOutput" />
    <label for="urine_4" class="radio-button medium">Unk</label>
  </div>

 <div>
    <span class="question-title">VOMITING<em>(Select one)</em></span>

    <input id="vomiting_1" type="radio" value="none" name="vomiting" ng-model="viewModel.vomiting" />
    <label for="vomiting_1" class="radio-button medium">None</label>

    <input id="vomiting_2" type="radio" value="mild" name="vomiting" ng-model="viewModel.vomiting" />
    <label for="vomiting_2" class="radio-button medium">Mild</label>

    <input id="vomiting_3" type="radio" value="moderate" name="vomiting" ng-model="viewModel.vomiting" />
    <label for="vomiting_3" class="radio-button medium">Mod</label>

    <input id="vomiting_4" type="radio" value="severe" name="vomiting" ng-model="viewModel.vomiting" />
    <label for="vomiting_4" class="radio-button medium">Sev</label>
  </div>
