<div>
    <question question="questions.moreSymptoms"/>
</div>
<span class="question-title">SYMPTOMS<em>(Select one or more)</em></span>
<div>
    <question question="questions.headache"/>
</div>
<div>

  <span class="question-title">(TO DO) SYMPTOMS<em>(Select one or more)</em></span>
    <div class="separator">
      <input id="headache_1" type="checkbox" value="yes" name="headache" ng-model="viewModel.headache" />
      <label for="headache_1" class="radio-button medium long">Headache</label>

      <input id="muscle_1" type="checkbox" value="yes" name="musclePain" ng-model="viewModel.musclePain" />
      <label for="muscle_1" class="radio-button medium long">Muscle Pain</label>

      <input id="drink_1" type="checkbox" value="yes" name="unableToDrink" ng-model="viewModel.unableToDrink" />
      <label for="drink_1" class="radio-button medium long">Unable to Drink</label>
    </div>

    <div class="separator">
      <input id="eat_1" type="checkbox" value="yes" name="unableToEat" ng-model="viewModel.unableToEat" />
      <label for="eat_1" class="radio-button medium long">Unable to Eat</label>

      <input id="swallow_1" type="checkbox" value="yes" name="difficultToSwallow" ng-model="viewModel.difficultToSwallow" />
      <label for="swallow_1" class="radio-button medium long">Difficult to Swallow</label>

      <input id="breathe_1" type="checkbox" value="yes" name="difficultToBreathe" ng-model="viewModel.difficultToBreathe" />
      <label for="breathe_1" class="radio-button medium long">Difficult to Breathe</label>
    </div>

    <div class="separator">
      <input id="abdominal_1" type="checkbox" value="yes" name="abdominalPain" ng-model="viewModel.abdominalPain" />
      <label for="abdominal_1" class="radio-button medium long">Abdominal Pain</label>

      <input id="hiccups_1" type="checkbox" value="yes" name="hiccups" ng-model="viewModel.hiccups" />
      <label for="hiccups_1" class="radio-button medium long">Hiccups</label>

      <input id="urine_pain_1" type="checkbox" value="yes" name="urinePain" ng-model="viewModel.urinePain" />
      <label for="urine_pain_1" class="radio-button medium long">Urine Pain</label>
    </div>

    <div class="separator">
      <input id="cough_1" type="checkbox" value="yes" name="cough" ng-model="viewModel.cough" />
      <label for="cough_1" class="radio-button medium long">Cough</label>

      <input id="rash_1" type="checkbox" value="yes" name="rash" ng-model="viewModel.rash" />
      <label for="rash_1" class="radio-button medium long">Rash</label>
    </div>
</div>
