<form class="full-content" xmlns="http://www.w3.org/1999/html" name="addOrder.form">
    <header>
        <patient-header patient-id="getPatientId()" patient="patient"></patient-header>
    </header>
    <span class="error-message" ng-show="serverError">
        {{ serverError }}
        <button ng-click="clearServerError()">Hide</button>
    </span>

    <div class="page-wrap-smaller">
        <h1>{{ concept.display }}</h1>

        <div>
            <div class="inline" class="indented-more">
                <span class="select-arrow" ng-class="{error: addOrder.form.route.$invalid && hasErrors}">
                    <select ng-model="addOrder.route"
                            ng-required="true"
                            name="route"
                            ng-options="route.uuid as route.display for route in routes"
                            ng-focus="focusInput($event)"
                            ng-blur="blurInput($event)">
                    </select>
                </span>
                <span ng-repeat="type in ['Bolus', 'Infusion']" class="checkboxes">
                    <input type="radio"
                           id="{{type}}"
                           value="{{type}}"
                           name="admType"
                           ng-model="addOrder.admType"/>
                    <label for="{{type}}"
                           class="radio-button small">{{type}}</label>
                </span>
            </div>

            <div ng-show="addOrder.admType == 'Bolus'">
                <span class="question-title">Bolus amount</span>
                <span ng-repeat="amount in bolusAmountOptions" class="checkboxes">
                    <input type="radio"
                           id="bolus_{{amount}}"
                           value="{{amount}}"
                           ng-model="addOrder.bolusQuantity"
                           ng-required="addOrder.admType == 'Bolus' && !addOrder.bolusQuantity"/>
                    <label for="bolus_{{amount}}"
                           class="radio-button small">{{amount}} {{bolusUnits.display}}</label>
                </span>
                <span class="question-title">over</span>
                <span ng-repeat="rate in bolusRateOptions" class="checkboxes">
                    <input type="radio"
                           id="bolus_{{rate}}"
                           value="{{rate}}"
                           ng-model="addOrder.bolusRate"
                           ng-required="addOrder.admType == 'Bolus' && !addOrder.bolusRate"/>
                    <label for="bolus_{{rate}}"
                           class="radio-button small">{{rate}} {{bolusRateUnits.display}}</label>
                </span>
            </div>

            <div ng-show="addOrder.admType == 'Infusion'">
                <span class="question-title">Infusion Rate</span>
                <span ng-repeat="rate in infusionRateOptions" class="checkboxes">
                    <input type="radio"
                           id="infusion_{{rate}}"
                           value="{{rate}}"
                           ng-model="addOrder.infusionRate"
                           ng-required="addOrder.admType == 'Infusion' && !addOrder.infusionRate"/>
                    <label for="infusion_{{rate}}"
                           class="radio-button small">{{infusionRateDisplay(rate)}}</label>
                </span>
                <span class="question-title">for</span>
                <span ng-repeat="duration in infusionDurationOptions" class="checkboxes">
                    <input type="radio"
                           id="infusion{{duration}}"
                           value="{{duration}}"
                           ng-model="addOrder.infusionDuration"
                           ng-required="addOrder.admType == 'Infusion' && !addOrder.infusionDuration"/>
                    <label for="infusion{{duration}}"
                           class="radio-button small">{{infusionDurationDisplay(duration)}}</label>
                </span>
            </div>

            <div ng-show="addOrder.admType != null">
                <span class="question-title">
                    Comments
                </span>
                <textarea name="comments"
                          ng-model="addOrder.comments"
                          rows="5" cols="60">
                </textarea>
            </div>
        </div>
    </div>

    <div class="actions small">
        <prev-button></prev-button>
        <button class="right small" type="submit" ng-click="save(addOrder, 'patient.overview')">Save</button>
    </div>
</form>
