<header>
    <div class="patient-header">
        <span class="patient-id">
            <small>PATIENT ID</small>
            {{ getPatientId() }}
        </span>
        <span class="patient-id">
            <small>NAME</small>
            {{ patient.person.display }}
        </span>
        <span class="patient-id">
            <small>GENDER - AGE</small>
            {{ patient.person.gender }} - {{ patient.person.age }}
        </span>
        <span class="patient-info">
            <small>WARD</small>
            12
        </span>
        <span class="patient-info">
            <small>BED</small>
            27
        </span>
    </div>
</header>
<div class="page-wrap-smaller" ng-controller="NewPrescriptionController" class="page-wrap" xmlns="http://www.w3.org/1999/html">
    <div ng-show="loading" class="loading-spinner"></div>
    <span ng-show="!loading" class="question-title">New Prescription</span>
    <div ng-show="!loading">
        <select-drug-name ng-model="concept" placeholder="Search for a drug name" size="40"></select-drug-name>

        <div ng-show="commonDrugConcepts.results">
            <a class="radio-button small full" ng-repeat="concept in commonDrugConcepts.results.slice(0, 20)"
               ui-sref="patient.addPrescriptionRoute({ concept: concept})" type="button">
                {{ concept.display}}
            </a>
        </div>
    </div>
</div>
<div class="actions small">
    <cancel-button></cancel-button>
</div>
