<header>
    <div class="patient-header">
        <span class="patient-id">
            <small>PATIENT ID</small>
            {{ getPatientId() }}
        </span>
        <span class="patient-id">
            <small>NAME</small>
            {{ patient.person.display }}
        </span>
        <span class="patient-id">
            <small>GENDER / AGE</small>
            {{ patient.person.gender }} - {{ patient.person.age }}
        </span>
        <span class="patient-info">
            <small>WARD</small>
            12
        </span>
        <span class="patient-info">
            <small>BED</small>
            27
        </span>
    </div>
</header>
<span class="success-message" ng-show="comeFromPrescriptionForm">Prescription added succesfully!</span>
<div class="page-wrap-smaller">
    <div ng-show="loading" class="loading-spinner"></div>
    <span ng-show="!loading" class="question-title">Active Prescriptions</span>
    <ul ng-show="!loading" class="list-items">
        <li ng-repeat="order in activeOrders">
            <span class="left">
                {{ order.concept.display }}
                <span>
                    <em>
                        {{ order.drug.display }}
                        {{ order.route.display }}
                        {{ order.dosingInstructions }}
                        <span ng-show="order.duration">for {{ order.duration }} days</span>
                    </em>
                </span>
            </span>
            <span class="right">
                <button ng-click="showAdminister(order)">Administer</button>
                <a id="stop_{{order.uuid}}" ng-click="stopOrder(order)" class="">
                    <i class="action-icon fa fa-remove"></i>
                </a>
            </span>
        </li>
    </ul>

    <script type="text/ng-template" id="administerDialog">
        <ng-include src="'templates/patient/administerDrugDialog.html'"></ng-include>
    </script>
</div>
<div class="actions small">
    <back-button></back-button>
    <button class="small right" ui-sref="patient.addPrescription">Add new prescription</button>
    <button class="small right" ui-sref="ward({uuid: getWard()})">Select another patient</button>
</div>

