<div class="patient-header">
    <div ng-transclude></div>
    <span class="patient-id">
        <small>PATIENT ID</small>
        {{ patientId }}
    </span>
    <span class="patient-id">
        <small>NAME</small>
        {{ patientInfo.person.display }}
    </span>
    <span class="patient-id">
        <small>GENDER - AGE</small>
        {{ patientInfo.person.gender }} - {{ patientInfo.person.age }}
    </span>
    <span class="patient-info">
        <small>WARD</small>
        {{ ward | ward }}
    </span>
    <span class="patient-info" >
        <small>BED</small>
        {{ bed.display | bed }}
    </span>
</div>