<form class="full-content" xmlns="http://www.w3.org/1999/html" ng-show="addOrder.drug" name="addOrder.form">
    <header>
        <patient-header patient-id="getPatientId()" patient="patient"></patient-header>
    </header>
    <span class="error-message" ng-show="serverError">
        {{ serverError }}
        <button ng-click="clearServerError()">Hide</button>
    </span>

    <div class="page-wrap-smaller">
        <h1>{{ addOrder.drug.concept.display }} <em class="indented">{{ addOrder.drug.display }}</em></h1>

        <div>
            <div class="inline">
                <span class="question-title">ROUTE<em ng-class="{error: addOrder.form.route.$invalid && hasErrors}">(Required)</em></span>
                <span class="select-arrow no-padding" ng-class="{error: addOrder.form.route.$invalid && hasErrors}">
                    <select ng-model="addOrder.drug.route.uuid"
                            ng-required="true"
                            name="route"
                            ng-options="route.uuid as route.display for route in routes"
                            ng-class="{error: addOrder.form.route.$invalid && hasErrors}"
                            ng-focus="focusInput($event)"
                            ng-blur="blurInput($event)">
                        <option></option>
                    </select>
                </span>
            </div>
            <div class="inline" class="indented-more">
                <span class="checkboxes">
                    <input type="checkbox" name="unused"
                           id="dosing-type-simple"
                           ng-checked="addOrder.dosingType != 'text'"
                           ng-click="addOrder.dosingType = 'rounds'"/>
                    <label for="dosing-type-simple" class="radio-button small">Normal Dosing</label>
                </span>
                <span class="checkboxes">
                    <input ng-model="addOrder.dosingType" type="radio" value="text" id="dosing-type-text"/>
                    <label for="dosing-type-text" class="radio-button small">Free Text Dosing</label>
                </span>
            </div>
            <div ng-show="addOrder.dosingType != 'text'">
                <span class="question-title">
                    DOSE
                    <em ng-hide="addOrder.dosingType == 'text'" ng-class="{error: addOrder.form.dose.$invalid && hasErrors}">(Required, >0)</em>
                    <em ng-show="addOrder.dosingType == 'text'" ng-class="{error: addOrder.form.dose.$invalid && hasErrors}">(>0)</em>
                </span>
                <div ng-class="{error: addOrder.form.dose.$invalid && hasErrors}" class="input-container no-unit">
                    <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" ng-model="addOrder.drug.dose"
                           type="number" ng-required="addOrder.dosingType != 'text'" name="dose" positive>
                </div>
                <span class="select-arrow" ng-class="{error: addOrder.form.doseUnits.$invalid && hasErrors}">
                    <select ng-model="addOrder.drug.doseUnits"
                            ng-required="!complexDosing"
                            name="doseUnits"
                            ng-options="doseUnit.uuid as doseUnit.display for doseUnit in doseUnits"
                            ng-focus="focusInput($event)"
                            ng-blur="blurInput($event)">
                    </select>
                </span>
            </div>

            <div ng-show="addOrder.dosingType != 'text'">
                <span class="question-title">DOSING</span>
                <span>
                    <input ng-model="addOrder.dosingType" type="radio" value="once" id="dosing-type-once"/>
                    <label for="dosing-type-once" class="radio-button small">x1 NOW</label>
                </span>
                <span id="dosing-type-separator">
                    OR
                </span>
                <span>
                    <input ng-model="addOrder.dosingType" type="radio" value="rounds" id="dosing-type-rounds"/>
                    <label for="dosing-type-rounds" class="radio-button small">Every Day At</label>
                </span>
            </div>

            <div ng-show="addOrder.dosingType == 'rounds'">
                <span class="question-title" ng-class="{error: hasErrors && !roundSelected}">TIME OF DAY<em
                        ng-class="{error: hasErrors && !roundSelected}">(Select one or more)</em></span>
                <span ng-repeat="roundKey in orderedRoundNames"
                      class="checkboxes">
                    <input id="round_{{roundKey}}" type="checkbox" value="{{roundKey}}"
                           ng-model="addOrder.rounds[roundKey]"/>
                    <label for="round_{{roundKey}}" class="radio-button small">{{roundKey}}</label>
                </span>
            </div>

            <div ng-show="addOrder.dosingType == 'rounds'">
                <span class="question-title">DURATION<em ng-class="{error: addOrder.form.duration.$invalid && hasErrors}">(Optional, >0)</em></span>

                <div class="input-container" ng-class="{error: addOrder.form.duration.$invalid && hasErrors}">
                    <input ng-model="addOrder.drug.duration" type="number" positive
                           name="duration"
                           ng-focus="focusInput($event)"
                           ng-blur="blurInput($event)">
                    <span class="unit">days</span>
                </div>
            </div>

            <div ng-show="addOrder.dosingType != 'rounds'">
                <span class="question-title">
                    INSTRUCTIONS
                    <em ng-show="addOrder.dosingType == 'text'" ng-class="{error: addOrder.form.dosingInstructions.$invalid && hasErrors}">(Required)</em>
                    <em ng-show="addOrder.dosingType == 'once'">(Optional)</em>
                </span>
                <textarea name="dosingInstructions"
                          ng-model="addOrder.dosingInstructions"
                          ng-required="addOrder.dosingType == 'text'"
                          rows="5" cols="60">
                </textarea>
            </div>

            <div>
                <span class="question-title">OPTIONS</span>

                <input class="checkbox" type="checkbox" id="as-needed-checkbox"
                       ng-model="addOrder.drug.asNeeded"/>
                <label for="as-needed-checkbox">PRN</label>
                <span>
                    <span ng-show="addOrder.drug.asNeeded" class="select-arrow"
                          ng-class="{error: addOrder.form.asNeededCondition.$invalid && hasErrors}">
                        <select ng-options="condition for condition in asNeededConditions | orderBy:'toString()'"
                                ng-model="addOrder.drug.asNeededCondition"
                                name="asNeededCondition"
                                ng-required="addOrder.drug.asNeeded"></select>
                    </span>
                    <em class="error" ng-show="addOrder.form.asNeededCondition.$invalid && hasErrors">(Required for PRN
                        orders)</em>
                </span>
            </div>
        </div>
    </div>
    <div class="actions small">
        <prev-button></prev-button>
        <button class="right small" type="submit" ng-click="save(addOrder, 'patient.overview')">Save</button>
    </div>
</form>