<form class="full-content" xmlns="http://www.w3.org/1999/html" ng-show="addOrder.drug" name="addOrder.form">
    <header>
        <patient-header patient-id="getPatientId()" patient="patient"></patient-header>
    </header>
    <span class="error-message" ng-show="serverError">
        {{ serverError }}
        <button ng-click="clearServerError()">Hide</button>
    </span>

    <div class="page-wrap-smaller">
        <h1>{{ addOrder.drug.concept.display }}<em>{{ addOrder.drug.display }}</em></h1>

        <div>
            <input class="checkbox" type="checkbox" id="free-text-instructions-checkbox" ng-model="addOrder.freeTextInstructions"/>
            <label for="free-text-instructions-checkbox">I will fill this later</label>
        </div>
        <div ng-show="addOrder.freeTextInstructions">
            <span class="question-title">INSTRUCTIONS</span>
            <textarea ng-model="addOrder.dosingInstructions" rows="5" cols="60"></textarea>
        </div>
        <div ng-show="!addOrder.freeTextInstructions">
            <div>
                <span class="question-title">ROUTE<em ng-class="{error: addOrder.form.route.$invalid && hasErrors}">(Required)</em></span>
                <span class="select-arrow no-padding" ng-class="{error: addOrder.form.route.$invalid && hasErrors}">
                    <select ng-model="addOrder.drug.route.uuid"
                            ng-required="!addOrder.freeTextInstructions"
                            name="route"
                            ng-options="route.uuid as route.display for route in routes"
                            ng-class="{error: addOrder.form.route.$invalid && hasErrors}"
                            ng-focus="focusInput($event)"
                            ng-blur="blurInput($event)">
                        <option></option>
                    </select>
                </span>
            </div>
            <span class="inline">
                <span class="question-title">DOSE<em ng-class="{error: addOrder.form.dose.$invalid && hasErrors}">(Required, >0)</em></span>
                <div ng-class="{error: addOrder.form.dose.$invalid && hasErrors}" class="input-container no-unit">
                    <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" ng-model="addOrder.drug.dose"
                           type="number" ng-required="!addOrder.freeTextInstructions" name="dose" positive>
                </div>
                <span class="select-arrow" ng-class="{error: addOrder.form.doseUnits.$invalid && hasErrors}">
                    <select ng-model="addOrder.drug.doseUnits"
                            ng-required="!addOrder.freeTextInstructions"
                            name="doseUnits"
                            ng-options="doseUnit.uuid as doseUnit.display for doseUnit in doseUnits"
                            ng-focus="focusInput($event)"
                            ng-blur="blurInput($event)">
                    </select>
                </span>
            </span>

            <div>
                <span class="question-title" ng-class="{error: hasErrors && !roundSelected}">TIME OF DAY<em
                        ng-class="{error: hasErrors && !roundSelected}">(Select one or more)</em></span>
                <span ng-repeat="roundKey in orderedRoundNames"
                      class="checkboxes">
                    <input id="round_{{roundKey}}" type="checkbox" value="{{roundKey}}"
                           ng-model="addOrder.rounds[roundKey]"/>
                    <label for="round_{{roundKey}}" class="radio-button small">{{roundKey}}</label>
                </span>
            </div>

            <div>
                <span class="question-title">DURATION<em ng-class="{error: addOrder.form.duration.$invalid && hasErrors}">(Optional, >0)</em></span>

                <div class="input-container" ng-class="{error: addOrder.form.duration.$invalid && hasErrors}">
                    <input ng-model="addOrder.drug.duration" type="number" positive
                           name="duration"
                           ng-focus="focusInput($event)"
                           ng-blur="blurInput($event)">
                    <span class="unit">days</span>
                </div>
            </div>

            <div>
                <span class="question-title">OPTIONS</span>

                <input class="checkbox" type="checkbox" id="as-needed-checkbox"
                       ng-model="addOrder.drug.asNeeded"/>
                <label for="as-needed-checkbox">PRN</label>
                <span>
                    <span ng-show="addOrder.drug.asNeeded" class="select-arrow"
                          ng-class="{error: addOrder.form.asNeededCondition.$invalid && hasErrors}">
                        <select ng-options="condition for condition in asNeededConditions | orderBy:'toString()'"
                                ng-model="addOrder.drug.asNeededCondition"
                                name="asNeededCondition"
                                ng-required="!addOrder.freeTextInstructions && addOrder.drug.asNeeded"></select>
                    </span>
                    <em class="error" ng-show="addOrder.form.asNeededCondition.$invalid && hasErrors">(Required for PRN
                        orders)</em>
                </span>
            </div>
        </div>
    </div>
    <div class="actions small">
        <cancel-button></cancel-button>
        <button class="right small" type="submit" ng-click="save(addOrder, 'patient.overview')">Save</button>
    </div>
</form>