<div ng-controller="VitalsSummaryController"
     ng-init="init({patientUuid: patientUuid, numItems: 2})">

    <span ng-show="!loading" class="question-title">
        Vitals
        <a class="smaller indented" href="" ng-click="captureVitals()">Capture vitals</a>
    </span>

    <ul ng-show="!loading" class="vitals-symptoms-items">
        <li ng-show="vitalsEncounters.length == 0">None</li>
        <li ng-repeat="encounter in vitalsEncounters">
            <span class="encounter-date">{{encounter.dateCreated | simpleDate }}</span>
            <span class="vitals-obs" ng-repeat="ob in getObsDesc(encounter.obs)">
                {{ob}}
            </span>
        </li>
    </ul>
</div>