<span ng-show="!loading" class="question-title">
    IV Fluids
    <a class="smaller indented" href="" ng-show="fluidOrders.activeOnly" ng-click="showAllIvFluidOrders()">Show All</a>
    <a class="smaller indented" href="" ng-hide="fluidOrders.activeOnly" ng-click="showActiveIvFluidOrders()">Show
        Active Only</a>
</span>

<ul ng-show="!loading" class="list-items" id="patient-iv-fluid-orders">
    <li ng-show="fluidOrders.none">None</li>
    <li ng-repeat="order in fluidOrders.orders">
        <span ng-class="{ left: fluidOrders.activeOnly, inactive: order.actualStopDate }">
            <span class="drug-name">
                <fluid-name class="uppercase" uuid="{{ order.concept.uuid }}"></fluid-name>
                <em>{{order | fluidOrder}}</em>
            </span>
            <div>
                <span class="date">
                    (ordered {{ order.dateActivated | date: 'dd MMM H:mm' }}
                    by
                    <span ng-show="order.orderer">{{order.orderer.display | prescriber}})</span>
                    <span ng-hide="order.orderer">Unknown User)</span>
                <span ng-show="ivFluidStatusToggleOn"> - {{order.status | ivfliuidStatus}}</span>

                </span>
            </div>
        </span>
        <span class="right" ng-show="fluidOrders.activeOnly">
            <button id="stop_{{order.uuid}}" ng-click="openStopOrderDialog(order)">Stop</button>
        </span>
        <span class="right" ng-show="ivFluidStatusToggleOn && fluidOrders.activeOnly">
            <div class="ivfluid-action">
                <div>
                    <button ng-disabled="ivfluidStarted(order)" class="top-button" ng-click="startIvFluidOrder(order)">Start</button>
                </div>
                <div>
                    <button ng-disabled="!ivfluidStarted(order)">Hold</button>
                </div>
            </div>
             <div class="ivfluid-action">
                 <div>
                     <button ng-disabled="true"class="top-button" >Restart</button>
                 </div>
                 <div>
                     <button ng-disabled="!ivfluidStarted(order)">Finished</button>
                 </div>
             </div>
        </span>
    </li>
</ul>
