<span class="question-title">SYMPTOMS<em>(select appropriate option)</em></span>

<div class="question-section">
    <question question="questions.general"/>
</div>
<div class="question-section">
    <question question="questions.pain"></question>
</div>
<div class="question-section">
    <question question="questions.respiratory"></question>
</div>
<div class="question-section">
    <question question="questions.GI"></question>
</div>
<div class="question-section">
    <question question="questions.bleeding"></question>
</div>
<div>
    <question question="questions.ebolaStage"></question>
</div>
