<div>
    <question question="questions.consciousness"/>
</div>

<div class="two-column">
    <question question="questions.temperature"/>
</div>

<div class="two-column">
    <question question="questions.heartRate"/>
</div>

<div class="two-column">
    <question question="questions.respiratoryRate"/>
</div>

<div class="two-column">
    <question question="questions.o2sat"/>
</div>

<div style="vertical-align: bottom;">
    <div class="question-title" style="text-align: center; clear: both; display: block;">Blood Pressure</div>
    <div class="two-column2" style="text-align: right; float: left;">
        <question question="questions.systolicBP"/>
    </div>
    <div style="float: left; display: inline-table; font-family: serif; color: #595959;; font-size: 115px; margin-top: -5px;">
        /
    </div>

    <div class="two-column2" style="text-align: left">
        <question question="questions.diastolicBP"/>
    </div>
</div>