<div>
    <question question="questions.consciousness"/>
</div>

<div class="two-column">
    <question question="questions.temperature"/>
</div>

<div class="two-column">
    <question question="questions.heartRate"/>
</div>

<div class="two-column">
    <question question="questions.respiratoryRate"/>
</div>

<div class="two-column">
    <question question="questions.o2sat"/>
</div>

<div style="vertical-align: bottom;">
    <div class="question-title" style="text-align: center; clear: both">Blood Pressure</div>
    <div class="two-column2" style="text-align: right; float: left;">
        <question question="questions.systolicBP"/>
    </div>
    <div style="float: left; font-size: 105px; display: inline-block; font-family: serif; color: #595959; margin-top: 8px;">
        /
    </div>

    <div class="two-column2" style="text-align: left">
        <question question="questions.diastolicBP"/>
    </div>
</div>