<div>
    <question question="questions.consciousness"/>
</div>

<div class="two-column">
    <question question="questions.temperature"/>
</div>

<div class="two-column">
    <question question="questions.heartRate"/>
</div>

<div class="two-column">
    <question question="questions.respiratoryRate"/>
</div>

<div class="two-column">
    <question question="questions.o2sat"/>
</div>

<div class="two-column" style="text-align: right">
    <question question="questions.systolicBP"/>
</div>

<div class="two-column" style="text-align: left">
    <question question="questions.diastolicBP"/>
</div>