<div>
  <label class="question-title">ANTIMALARIALS</label>

  <input id="malarial_1" type="checkbox" name="antiMalarials" value="alAct" ng-model="viewModel.antiMalarials.alAct" />
  <label for="malarial_1" class="radio-button medium long">AL (ACT)</label>

  <input id="malarial_2" type="checkbox" name="antiMalarials" value="artesunate" ng-model="viewModel.antiMalarials.artesunate" />
  <label for="malarial_2" class="radio-button medium long">Artesunate</label>

  <input id="malarial_3" type="checkbox" name="antiMalarials" value="quinine" ng-model="viewModel.antiMalarials.quinine" />
  <label for="malarial_3" class="radio-button medium long">Quinine</label>
</div>
<div>
    <label class="question-title">ANTIBIOTICS</label>

    <input id="antibiotics_1" type="checkbox" name="antibiotics" value="ceftriaxone" ng-model="viewModel.antibiotics.ceftriaxone" />
    <label for="antibiotics_1" class="radio-button medium long"><span>Ceftriaxone</span></label>

    <input id="antibiotics_2" type="checkbox" name="antibiotics" value="cefixime" ng-model="viewModel.antibiotics.cefixime" />
    <label for="antibiotics_2" class="radio-button medium long">Cefixime</label>

    <input id="antibiotics_3" type="checkbox" name="antibiotics" value="metronidazole" ng-model="viewModel.antibiotics.metronidazole" />
    <label for="antibiotics_3" class="radio-button medium long"><span>Metronidazole</span></label>
</div>
<div>
    <label class="question-title">ANALGESICS/ANTIPYRETICS</label>

    <input id="analgesics_1" type="checkbox" name="analgesicsAntipyretics" value="paracetamol" ng-model="viewModel.analgesicsAntipyretics.paracetamol" />
    <label for="analgesics_1" class="radio-button medium long"><span>Paracetamol</span></label>

    <input id="analgesics_2" type="checkbox" name="analgesicsAntipyretics" value="tramadol" ng-model="viewModel.analgesicsAntipyretics.tramadol" />
    <label for="analgesics_2" class="radio-button medium long">Tramadol</label>

    <input id="analgesics_3" type="checkbox" name="analgesicsAntipyretics" value="morphine" ng-model="viewModel.analgesicsAntipyretics.morphine" />
    <label for="analgesics_3" class="radio-button medium long">Morphine</label>
</div>
