<div class="section" id="symptoms">
  <div>
    <div>
      <span class="question-title">OVERALL SYMPTOMS</span>
      
      <input id="symptons_1" type="radio" value="same" name="overallSymptoms" ng-model="viewModel.overallSymptoms" />
      <label for="symptons_1" class="radio-button medium">Same</label>
      
      <input id="symptons_2" type="radio" value="worse" name="overallSymptoms" ng-model="viewModel.overallSymptoms" />
      <label for="symptons_2" class="radio-button medium">Worse</label>
      
      <input id="symptons_3" type="radio" value="better" name="overallSymptoms" ng-model="viewModel.overallSymptoms" />
      <label for="symptons_3" class="radio-button medium">Better</label>
    </div>

    <div>
      <span class="question-title">FATIGUE</span>      
      
      <input id="fatique_1" type="radio" value="none" name="fatigue" ng-model="viewModel.fatigue" />
      <label for="fatique_1" class="radio-button medium">None</label>
  
      <input id="fatique_2" type="radio" value="mild" name="fatigue" ng-model="viewModel.fatigue" />
      <label for="fatique_2" class="radio-button medium">Mild</label>

      <input id="fatique_3" type="radio" value="mod" name="fatigue" ng-model="viewModel.fatigue" />
      <label for="fatique_3" class="radio-button medium">Mod</label>
        
      <input id="fatique_4" type="radio" value="sev" name="fatigue" ng-model="viewModel.fatigue" />
      <label for="fatique_4" class="radio-button medium">Sev</label>
    </div>
  </div>

  <div>
    <div>
      <span class="question-title">BLEEDING</span>
      
      <input id="bleeding_1" type="checkbox" value="no" name="bleeding" />
      <label for="bleeding_1" class="radio-button small">No</label>

      <input id="bleeding_2" type="checkbox" value="nose/oral" name="bleeding" />
      <label for="bleeding_2" class="radio-button small">Nose/Oral</label>

      <input id="bleeding_3" type="checkbox" value="cough" name="bleeding" />
      <label for="bleeding_3" class="radio-button small">Cought</label>

      <input id="bleeding_4" type="checkbox" value="vomit" name="bleeding" />
      <label for="bleeding_4" class="radio-button small">Vomit</label>

      <input id="bleeding_5" type="checkbox" value="stool" name="bleeding" />
      <label for="bleeding_5" class="radio-button small">Stool</label>

      <input id="bleeding_6" type="checkbox" value="vaginal" name="bleeding" />
      <label for="bleeding_6" class="radio-button small">Vaginal</label>
    </div>
  </div>
  <div>
    <div class="two-column">
      <span class="question-title">HEADACHE</span>
      
      <input id="headache_1" type="radio" value="yes" name="headache" ng-model="viewModel.headache" />
      <label for="headache_1" class="radio-button">Yes</label>

      <input id="headache_2" type="radio" value="no" name="headache" ng-model="viewModel.headache" />
      <label for="headache_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">JOINT/MUSCLE PAIN</span>
      
      <input id="joint_1" type="radio" value="yes" name="jointMusclePain" ng-model="viewModel.jointMusclePain" />
      <label for="joint_1" class="radio-button">Yes</label>

      <input id="joint_2" type="radio" value="no" name="jointMusclePain" ng-model="viewModel.jointMusclePain" />
      <label for="joint_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">UNABLE TO DRINK</span>
      
      <input id="drink_1" type="radio" value="yes" name="unableToDrink" ng-model="viewModel.unableToDrink" />
      <label for="drink_1" class="radio-button">Yes</label>
      
      <input id="drink_2" type="radio" value="no" name="unableToDrink" ng-model="viewModel.unableToDrink" />
      <label for="drink_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">UNABLE TO EAT</span>
      
      <input id="eat_1" type="radio" value="yes" name="unableToEat" ng-model="viewModel.unableToEat" />
      <label for="eat_1" class="radio-button">Yes</label>
      
      <input id="eat_2" type="radio" value="no" name="unableToEat" ng-model="viewModel.unableToEat" />
      <label for="eat_2" class="radio-button">No</label>
    </div>
  </div>
  <div>
    <div class="two-column">
      <span class="question-title">DIFFICULT TO SWALLOW</span>
      
      <input id="swallow_1" type="radio" value="yes" name="difficultToSwallow" ng-model="viewModel.difficultToSwallow" />
      <label for="swallow_1" class="radio-button">Yes</label>
      
      <input id="swallow_2" type="radio" value="no" name="difficultToSwallow" ng-model="viewModel.difficultToSwallow" />
      <label for="swallow_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">HICCUPS</span>
      
      <input id="hiccups_1" type="radio" value="yes" name="hiccups" ng-model="viewModel.hiccups" />
      <label for="hiccups_1" class="radio-button">Yes</label>
      
      <input id="hiccups_2" type="radio" value="no" name="hiccups" ng-model="viewModel.hiccups" />
      <label for="hiccups_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">COUGHT</span>
      
      <input id="cought_1" type="radio" value="yes" name="cought" ng-model="viewModel.cought" />
      <label for="cought_1" class="radio-button">Yes</label>
      
      <input id="cought_2" type="radio" value="no" name="cought" ng-model="viewModel.cought" />
      <label for="cought_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">DIFFICULT TO BREATHE</span>
      
      <input id="breathe_1" type="radio" value="yes" name="difficultToBreathe" ng-model="viewModel.difficultToBreathe" />
      <label for="breathe_1" class="radio-button">Yes</label>

      <input id="breathe_2" type="radio" value="no" name="difficultToBreathe" ng-model="viewModel.difficultToBreathe" />
      <label for="breathe_2" class="radio-button">No</label>
    </div>
  </div>
  <div>
    <div class="two-column">
      <span class="question-title">RASH</span>
      
      <input id="rash_1" type="radio" value="yes" name="rash" ng-model="viewModel.rash" />
      <label for="rash_1" class="radio-button">Yes</label>

      <input id="rash_2" type="radio" value="no" name="rash" ng-model="viewModel.rash" />
      <label for="rash_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">ABDOMINAL PAIN</span>
      
      <input id="abdominal_1" type="radio" value="yes" name="abdominalPain" ng-model="viewModel.abdominalPain" />
      <label for="abdominal_1" class="radio-button">Yes</label>

      <input id="abdominal_2" type="radio" value="no" name="abdominalPain" ng-model="viewModel.abdominalPain" />
      <label for="abdominal_2" class="radio-button">No</label>
    </div>
    <div class="two-column">
      <span class="question-title">URINE PAIN</span>

      <input id="urine_1" type="radio" value="yes" name="urinePain" ng-model="viewModel.urinePain" />
      <label for="urine_1" class="radio-button">Yes</label>

      <input id="urine_2" type="radio" value="no" name="urinePain" ng-model="viewModel.urinePain" />
      <label for="urine_2" class="radio-button">No</label>
    </div>
  </div>
  <div class="actions">
    <button>BACK</button>
    <button>NEXT</button>
  </div>
</div>
