<div id="symptoms">
  <div>
    <div>
      <label>Overall symptoms</label>
      <label>Same
        <input type="radio" value="same" name="overallSymptoms" ng-model="viewModel.overallSymptoms" />
      </label>
      <label>Worse
        <input type="radio" value="worse" name="overallSymptoms" ng-model="viewModel.overallSymptoms" />
      </label>
      <label>Better
        <input type="radio" value="better" name="overallSymptoms" ng-model="viewModel.overallSymptoms" />
      </label>
    </div>
    <div>
      <label>Fatigue</label>
      <label>None
        <input type="radio" value="none" name="fatigue" ng-model="viewModel.fatigue" />
      </label>
      <label>Mild
        <input type="radio" value="mild" name="fatigue" ng-model="viewModel.fatigue" />
      </label>
      <label>Mod
        <input type="radio" value="mod" name="fatigue" ng-model="viewModel.fatigue" />
      </label>
      <label>Sev
        <input type="radio" value="sev" name="fatigue" ng-model="viewModel.fatigue" />
      </label>
    </div>
  </div>
  <div>
    <div>
      <label>Bleeding</label>
      <label>No
        <input type="radio" value="no" name="bleeding" ng-model="viewModel.bleeding" />
      </label>
      <label>Nose/Oral
        <input type="radio" value="nose/oral" name="bleeding" ng-model="viewModel.bleeding" />
      </label>
      <label>Cought
        <input type="radio" value="cough" name="bleeding" ng-model="viewModel.bleeding" />
      </label>
      <label>Vomit
        <input type="radio" value="vomit" name="bleeding" ng-model="viewModel.bleeding" />
      </label>
      <label>Stool
        <input type="radio" value="stool" name="bleeding" ng-model="viewModel.bleeding" />
      </label>
      <label>Vaginal
        <input type="radio" value="vaginal" name="bleeding" ng-model="viewModel.bleeding" />
      </label>
      <label>Other
        <input type="radio" value="other" name="bleeding" ng-model="viewModel.bleeding" />
      </label>
    </div>
  </div>
  <div>
    <div>
      <label>Headache</label>
      <label>Yes
        <input type="radio" value="yes" name="headache" ng-model="viewModel.headache" />
      </label>
      <label>No
        <input type="radio" value="no" name="headache" ng-model="viewModel.headache" />
      </label>
    </div>
    <div>
      <label>Joint/muscle pain</label>
      <label>Yes
        <input type="radio" value="yes" name="jointMusclePain" ng-model="viewModel.jointMusclePain" />
      </label>
      <label>No
        <input type="radio" value="no" name="jointMusclePain" ng-model="viewModel.jointMusclePain" />
      </label>
    </div>
    <div>
      <label>Unable to drink</label>
      <label>Yes
        <input type="radio" value="yes" name="unableToDrink" ng-model="viewModel.unableToDrink" />
      </label>
      <label>No
        <input type="radio" value="no" name="unableToDrink" ng-model="viewModel.unableToDrink" />
      </label>
    </div>
    <div>
      <label>Unable to eat</label>
      <label>Yes
        <input type="radio" value="yes" name="unableToEat" ng-model="viewModel.unableToEat" />
      </label>
      <label>No
        <input type="radio" value="no" name="unableToEat" ng-model="viewModel.unableToEat" />
      </label>
    </div>
  </div>
  <div>
    <div>
      <label>Difficult To Swallow</label>
      <label>Yes
        <input type="radio" value="yes" name="difficultToSwallow" ng-model="viewModel.difficultToSwallow" />
      </label>
      <label>No
        <input type="radio" value="no" name="difficultToSwallow" ng-model="viewModel.difficultToSwallow" />
      </label>
    </div>
    <div>
      <label>Hiccups</label>
      <label>Yes
        <input type="radio" value="yes" name="hiccups" ng-model="viewModel.hiccups" />
      </label>
      <label>No
        <input type="radio" value="no" name="hiccups" ng-model="viewModel.hiccups" />
      </label>
    </div>
    <div>
      <label>Cought</label>
      <label>Yes
        <input type="radio" value="yes" name="cought" ng-model="viewModel.cought" />
      </label>
      <label>No
        <input type="radio" value="no" name="cought" ng-model="viewModel.cought" />
      </label>
    </div>
    <div>
      <label>Difficult To Breathe</label>
      <label>Yes
        <input type="radio" value="yes" name="difficultToBreathe" ng-model="viewModel.difficultToBreathe" />
      </label>
      <label>No
        <input type="radio" value="no" name="difficultToBreathe" ng-model="viewModel.difficultToBreathe" />
      </label>
    </div>
  </div>
  <div>
    <div>
      <label>Rash</label>
      <label>Yes
        <input type="radio" value="yes" name="rash" ng-model="viewModel.rash" />
      </label>
      <label>No
        <input type="radio" value="no" name="rash" ng-model="viewModel.rash" />
      </label>
    </div>
    <div>
      <label>Abdominal pain</label>
      <label>Yes
        <input type="radio" value="yes" name="abdominalPain" ng-model="viewModel.abdominalPain" />
      </label>
      <label>No
        <input type="radio" value="no" name="abdominalPain" ng-model="viewModel.abdominalPain" />
      </label>
    </div>
    <div>
      <label>Urine pain</label>
      <label>Yes
        <input type="radio" value="yes" name="urinePain" ng-model="viewModel.urinePain" />
      </label>
      <label>No
        <input type="radio" value="no" name="urinePain" ng-model="viewModel.urinePain" />
      </label>
    </div>
  </div>
  <div>
    <button>Back</button>
    <button>Next</button>
  </div>
</div>
