<div class="section" id="vital-signs" ng-controller='vitalSignsController'>
  <div>
    <label class="question-title">CURRENT CONSCIOUSNESS</label>

    <input id="consci_1" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="a" />
    <label for="consci_1" class="radio-button">A</label>

    <input id="consci_2" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="v" />
    <label for="consci_2" class="radio-button">V</label>

    <input id="consci_3" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="p" />
    <label for="consci_3" class="radio-button">P</label>

    <input id="consci_4" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="u" />
    <label for="consci_4" class="radio-button">U</label>
  </div>

  <div>
    <div class="two-column">
      <label class="question-title" for="temperature">TEMPERATURE</label>
      <input type="number" name="temperature" ng-model="viewModel.temperature" min="0" max="9999" />
      <span class="unit">˚C</span>
    </div>

    <div class="two-column">
      <label class="question-title" for="oxygenSaturation">OXYGEN SATURATION</label>
      <input type="number" name="oxygenSaturation" ng-model="viewModel.oxygenSaturation" min="0" max="9999" />
      <span class="unit">%</span>
    </div>

    <div class="two-column">
      <label class="question-title" for="respiratoryRate">RESPIRATORY RATE</label>
      <input type="number" name="respiratoryRate" ng-model="viewModel.respiratoryRate" min="0" max="9999" />
      <span class="unit small">breaths/ min</span>
    </div>

    <div class="two-column">
      <label class="question-title" for="heartRate">HEART RATE</label>
      <input type="number" name="heartRate" ng-model="viewModel.heartRate" min="0" max="9999" />
      <span class="unit small">beats/ min</span>
    </div>
  </div>

  <div>
    <div class="two-column">
      <label class="question-title" for="systolicBP">SYSTOLIC BP</label>
      <input type="number" name="systolicBP" ng-model="viewModel.systolicBP" min="0" max="9999" />
      <span class="unit small">mmHg</span>
    </div>

    <div class="two-column">
      <label class="question-title" for="diastolicBP">DIASTOLIC BP</label>
      <input type="number" name="diastolicBP" ng-model="viewModel.diastolicBP" min="0" max="9999" />
      <span class="unit small">mmHg</span>
    </div>

    <div class="two-column">
      <label class="question-title" for="raisedJVP">RAISED JVP</label>
      <input type="number" name="raisedJVP" ng-model="viewModel.raisedJVP" min="0" max="9999" />
      <span class="unit">cm</span>
    </div>

    <div class="two-column">
      <label class="question-title" for="capillaryRefillTime">CAPILLARY REFILL TIME</label>
      <input type="number" name="capillaryRefillTime" ng-model="viewModel.capillaryRefillTime" min="0" max="9999" />
      <span class="unit">sec</span>
    </div>
  </div>

  <div>
    <div>
      <label class="question-title">ABDOMEN TENDER</label>

      <input tabindex="1" id="abdomen_1" type="radio" name="abdomenTender" ng-model="viewModel.abdomenTender" value="yes" />
      <label for="abdomen_1" class="radio-button">Yes</label>

      <input id="abdomen_2" type="radio" name="abdomenTender" ng-model="viewModel.abdomenTender" value="no" />
      <label for="abdomen_2" class="radio-button">No</label>
    </div>

    <div>
      <label class="question-title">PALE/ANAEMIA</label>

      <input id="pale_1" type="radio" name="paleAnaemia" ng-model="viewModel.paleAnaemia" value="none" />
      <label for="pale_1" class="radio-button medium">None</label>

      <input id="pale_2" type="radio" name="paleAnaemia" ng-model="viewModel.paleAnaemia" value="mild" />
      <label for="pale_2" class="radio-button medium">Mild</label>

      <input id="pale_3" type="radio" name="paleAnaemia" ng-model="viewModel.paleAnaemia" value="mod" />
      <label for="pale_3" class="radio-button medium">Mod</label>

      <input id="pale_4" type="radio" name="paleAnaemia" ng-model="viewModel.paleAnaemia" value="sev" />
      <label for="pale_4" class="radio-button medium">Sev</label>
    </div>
  </div>
  <div class="actions">
    <button ng-click="sendData();">NEXT</button>
  </div>
</div>
