
  <div>
    <label class="question-title">CURRENT CONSCIOUSNESS</label>

    <input id="consci_1" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="a" />
    <label for="consci_1" class="radio-button">A</label>

    <input id="consci_2" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="v" />
    <label for="consci_2" class="radio-button">V</label>

    <input id="consci_3" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="p" />
    <label for="consci_3" class="radio-button">P</label>

    <input id="consci_4" type="radio" name="currentConsciousness" ng-model="viewModel.currentConsciousness" value="u" />
    <label for="consci_4" class="radio-button">U</label>
  </div>

  <div>
    <div class="two-column">
      <label class="question-title" for="temperature">TEMPERATURE</label>
      <div class="input-container">
        <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" type="number" name="temperature" ng-model="viewModel.temperature" min="0" max="99" />
        <span class="unit">˚C</span>
      </div>
    </div>

    <div class="two-column">
      <label class="question-title" for="oxygenSaturation">OXYGEN SATURATION</label>
      <div class="input-container">
        <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" type="number" name="oxygenSaturation" ng-model="viewModel.oxygenSaturation" min="0" max="99" />
        <span class="unit">%</span>
      </div>
    </div>

    <div class="two-column">
      <label class="question-title" for="respiratoryRate">RESPIRATORY RATE</label>
      <div class="input-container">
        <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" type="number" name="respiratoryRate" ng-model="viewModel.respiratoryRate" min="0" max="99" />
        <span class="unit small">breaths/ min</span>
      </div>
    </div>

    <div class="two-column">
      <label class="question-title" for="heartRate">HEART RATE</label>
      <div class="input-container">
        <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" type="number" name="heartRate" ng-model="viewModel.heartRate" min="0" max="999" />
        <span class="unit small">beats/ min</span>
      </div>
    </div>
  </div>

  <div>
    <div class="two-column">
      <label class="question-title" for="systolicBP">SYSTOLIC BP</label>
      <div class="input-container">
        <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" type="number" name="systolicBP" ng-model="viewModel.systolicBP" min="0" max="9999" />
        <span class="unit small">mmHg</span>
      </div>
    </div>

    <div class="two-column">
      <label class="question-title" for="diastolicBP">DIASTOLIC BP</label>
      <div class="input-container">
        <input ng-focus="focusInput($event)" ng-blur="blurInput($event)" type="number" name="diastolicBP" ng-model="viewModel.diastolicBP" min="0" max="9999" />
        <span class="unit small">mmHg</span>
      </div>
    </div>

  </div>
