@import "variables";
@import "mixins";

.patient-header {
	background: $grey1;
	padding: 0.3em;
	color: #ffcc00;
	font-family: "OpenSansBold";
	font-size: 2.2em;
	overflow: hidden;

  	@include yellow-button;
}

.navigation {
	background: repeating-linear-gradient(
	  45deg,
	  #6E8F26,
	  #6E8F26 10px,
	  #64851B 10px,
	  #64851B 20px
	);

	background-repeat: no-repeat;
	font-family: "OpenSans";
	color: white;
	padding: 0.7em 0.5em;

	h3 {
		display: block;
		margin: 5px;
		color: white;
	}
}

.progress {
	font-size: 1.8em;
	color: rgb(207, 207, 207);
	font-family: "OpenSansBold";
	position: absolute;
	left: 45%;
	display: inline-block;
	margin-top: 17px;
}

.patient-id {
	float: left;
	margin-right: 0.5em;
}

.patient-info {
	float: right;
	margin-left: 0.5em;
}

div.actions-header{
    background: none repeat scroll 0% 0% #595959;
    margin-top: 0px;
}

div.sidebar-header {
    background: none repeat scroll 0% 0% ;
    height: 60px;
    padding: 10px;
    margin-top: 0px;
}