@mixin yellow-button {
  button {
    font-size: 2.4em;
    margin: 0 0.2em;
    background: darken($primaryColor, 5%);
    border-color: darken($primaryColor, 5%);

    &.secondary {
      background: $grey5;
      border-color: $grey5;
      color: white;
    }

    &.small {
      font-size: 1.7em;
    }

    &.back-button {
      font-size: 27px;
    }
  }
}