.common-drugs-container {
  display: flex  !important;
  flex-direction: column  !important;
  flex-wrap: wrap !important;
  height: 800px !important;

  text-transform: uppercase;
}

.common-fluids-container {
  display: flex  !important;
  flex-wrap: wrap !important;
  height: 800px !important;

  text-transform: uppercase;
}

#dosing-type-separator {
  display: inline-block;
  font-size: 2em;
  margin: 1em;
}