@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

.section > div {
	padding: 0 20px;
}

.patient-header {
	background: #595959;
	padding: 0.3em;
	color: #ffcc00;
	font-family: "OpenSansBold";
	font-size: 2.8em;
	overflow: hidden;
}

.navigation {
	background: #d7d7d7;
	font-family: "OpenSans";
	color: #595959;
	padding: 0.7em 0.5em;
}

.navigation h3 {
	display: block;
	margin: 5px;
}

.category {
	width: 24%;
	display: inline-block;
	text-align: center;
}

small {
	color: white;
	display: block;
	font-size: 0.45em;
}

.unit {
	font-family: "OpenSansBold";
	font-size: 2em;
	color: #595959;
	padding-left: 0.2em;
	position: relative;
	left: -70px;
}

.unit.small {
	font-size: 1.3em;
	width: 80px;
	display: inline-block;
	left: -105px;
}

.patient-id {
	float: left;
}

.patient-info {
	float: right;
	margin-right: 1em;
}

.one-column {
	width: 100%;
}

.two-column {
	width: 47.5%;
	margin-right: 2%;
	display: inline-block;
}

.three-column {
	width: 31%;
	margin-right: 1%;
	display: inline-block;
}

.radio-button {
	width: 160px;
	height: 110px;
	max-width: 160px;
	max-height: 110px;
	background: #979797;
	color: white;
	font-size: 3.7em;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-shadow: 0px 11px 0px 0px #595959;
	border-radius: 8px;
	text-align: center;
	margin-right: 15px;
	font-family: "OpenSansBold";
	margin-bottom: 15px;
	vertical-align: top;
	word-wrap: break-word;
}

.radio-button.long {
	width: auto;
	max-width: 100%;
	padding: 0 15px;
}

.radio-button.medium {
	font-size: 2.2em;
}

.radio-button.small {
	font-size: 1.6em;
}

.section .actions {
	padding: 1em;
	margin-top: 3em;
	background: #000;
	opacity: 0.6;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

button {
	background: white;
	padding: 0.2em 0.4em;
	border: 1px solid #000;
	margin-right: 1em;
	border-radius: 5px;
	font-size: 3em;
	font-family: "OpenSansBold";
	color: #000;
	box-shadow: 0px 8px 0px 0px #000;
}

input[type="radio"]:checked + .radio-button, input[type="checkbox"]:checked + .radio-button { 
    background-color: #ffcc00;
	box-shadow: inset 0 7px 7px rgba(0, 0, 0, 0.2);
	color: #595959;
	top: 11px;
	position: relative;
}

input[type="radio"], input[type="checkbox"] {
	display: none;
}

input[type="number"] {
	font-family: "OpenSansBold";
	font-size: 3.3em;
	border-radius: 7px;
	color: #595959;
	border: 4px solid #595959;
	padding: 0.15em;
	width: 5em;
	text-align: left;
	margin-bottom: 15px;
	padding-right: 75px;
}

input[type="number"]:focus {
	border: 4px solid #ffcc00;
	outline: none;
}

.question-title {
	display: block;
	font-size: 1.8em;
	font-family: "OpenSansBold";
	color: #595959;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}