<header>
    <div  class="patient-header">
        <h1>Feature Toggles</h1>
    </div>
</header>
<ul ng-show="!loading"  ng-controller="FeatureToggleController" class="list-items">
    <li ng-repeat="featureToggle in allFeatureToggles" class="ng-scope">
        <span> {{featureToggle.name}} </span>
        <button ng-disabled="!featureToggle.enabled" ng-click="turnOff(featureToggle.name)">Turn off</button>
        <button ng-disabled="featureToggle.enabled" ng-click="turnOn(featureToggle.name)">Turn On</button>
    </li>
</ul>
