<skipscript src="../../../scripts/inpatient-form/listeners.js"></skipscript>

<form name="inpatientForm" ng-controller="MainController">

    <div class="page-wrap" ng-show="patient">
        <header>
            <patient-header patient-id="getPatientId()" patient="patient">
                <back-button name="{{ getWard().display }}"></back-button>
            </patient-header>

            <!--
            <div class="navigation" style="background-size: {{ getProgress() }}% 100%;">
                <span ng-if="view.shouldShow" class="category" ng-repeat="view in views">
                    <h3>{{view.description}}</h3>
                </span>
            </div>
            -->
        </header>

        <div class="ebola-form">
            <div class="section">
                <div ng-repeat="view in views">
                    <ng-include id="simpleController" ng-show="shouldDisplay(view)" src="view.file"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <div class="actions small">
        <button class="left small secondary" ng-show="shouldDisplayCancelButton()" ng-click="cancel()">Cancel</button>
        <button class="left small secondary" ng-show="shouldDisplayBackButton()" ng-click="back()">Back</button>
        <span class="progress">{{ getCurrentViewNumber() }} of {{ views.length }}</span>
        <button class="right small" ng-show="shouldDisplayNextButton()" ng-click="next()">Next</button>
        <button class="right small" ng-show="shouldDisplayFinishButton()" ng-click="finish()"
                ng-disabled="!inpatientForm.$valid">Save
        </button>
    </div>
</form>