<div class="page-wrap" ng-controller="PatientController">

    <header>
        <div class="patient-header">
            <span class="patient-id">
                <small>PATIENT ID NUMBER</small>
                {{ getPatientId() }}
            </span>
            <span class="patient-id">
                <small>NAME</small>
                {{ patient.person.display }}
            </span>
            <span class="patient-id">
                <small>GENDER / AGE</small>
                {{ patient.person.gender }} - {{ patient.person.age }}
            </span>
            <span class="patient-info">
                <small>WARD</small>
                12
            </span>
            <span class="patient-info">
                <small>BED</small>
                27
            </span>
        </div>
    </header>

    <ui-view></ui-view>    
</div>
<div class="actions">
	<button class="left">BACK</button>
</div>