<div id="js-actions-sidebar">
        <div class="sidebar-header actions">
            <span class="sidebar-title">Actions</span>
            <button class="small right" action-button>
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="sidebar-list">
            <ul class="actions-list">
                <li>
                    <button ng-click="openAddNewPrescriptionForm()">Add new prescription</button>
                </li>
                <li ng-show="isFeatureEnabled('ivFluids')">
                    <button ng-click="openAddIvFluidOrderForm()">Add IV fluid order</button>
                </li>
                <li ng-show="isFeatureEnabled('enterVitals')">
                    <button ng-click="captureVitals()">Capture Vitals</button>
                </li>
                <li ng-show="isFeatureEnabled('enterSymptoms')">
                    <button ng-click="captureSymptoms()">Capture Symptoms</button>
                </li>
                <li ng-show="hasPrivilege('App: coreapps.findPatient')">
                    <button ng-click="goToLaptopPatientSummary()">Laptop Patient Summary</button>
                </li>
            </ul>
        </div>
    </div>
