<header ng-controller="WardController"><div class="patient-header"><h1>Please select a patient<em>{{ ward.display }}</em></h1></div></header>
<span class="success-message" ng-controller="WardController" ng-show="comeFromPrescriptionForm()">Prescription added succesfully!</span>
<div class="page-wrap spaced" ng-controller="WardController">
    <ul class="tablet-list">
        <li ng-repeat="bedAssignment in ward.bedAssignments">
            <a class="radio-button card long small" ui-sref="patient.overview({patientUUID: bedAssignment.patient.uuid})">
    	        <span>{{ getPatientName(bedAssignment.patient.display) }}</span>
    	        <em>{{ getPatientId(bedAssignment.patient.display) }}</em>
				<span class="number">{{ bedAssignment.bed.display}}</span>
            </a>
        </li>
    </ul>
</div>
<div class="actions small">
    <back-button></back-button>
</div>
