<div class="page-wrap" ng-controller="WardController">
    <h1>Please select a patient</h1>
    <span class="question-title">{{ ward.display }}</span>
    <ul class="tablet-list">
        <li ng-repeat="bedAssignment in ward.bedAssignments">
            <a class="radio-button long small" ui-sref="patient.overview({uuid: bedAssignment.patient.uuid})">
            {{ bedAssignment.patient.display }}<a>
        </li>
    </ul>
</div>
<div class="actions">
	<button class="left">BACK</button>
</div>
