<div class="page-wrap" ng-controller="ListWardsController">

    <h1>Please select a ward</h1>

    <span class="question-title">Suspect</span>
    <ul class="tablet-list">
        <li ng-repeat="ward in suspectWards">
            <a class="radio-button small" ui-sref="ward({uuid: ward.uuid})"><span>{{ ward.display }}
            <span class="patient-number"><span class="inpatient-number">{{ ward.bedAssignments.length }}</span> patients</span></span><a>
        </li>
    </ul>

    <span class="question-title">Confirmed</span>
    <ul class="tablet-list">
        <li ng-repeat="ward in confirmedWards">
            <a class="radio-button small" ui-sref="ward({uuid: ward.uuid})"><span>{{ ward.display }}
            <span class="patient-number"><span class="inpatient-number">{{ ward.bedAssignments.length }}</span> patients</span></span><a>
        </li>
    </ul>

    <span class="question-title">Recovery</span>
    <ul class="tablet-list">
        <li ng-repeat="ward in recoveryWards">
            <a class="radio-button small" ui-sref="ward({uuid: ward.uuid})"><span>{{ ward.display }}
            <span class="patient-number"><span class="inpatient-number">{{ ward.bedAssignments.length }}</span> patients</span></span></a>
        </li>
    </ul>
</div>
<div class="actions">
    <back-button></back-button>
</div>